<%- include("partials/header.ejs") %>

<style>
  .action-item {
    background-color: #f6ea9a; /* Grey background */
    border: 1px solid #ced4da; /* Border outline */
    padding: 10px;
    margin-bottom: 10px;
    color: black;
  }

  .action-item:hover {
    background-color: #e3c416; /* Light grey on hover */
  }
</style>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis"><%= title %></h1>

  <div class="container">
    <div class="row">
      <!-- Loop through rowdata -->
      <% rowdata.forEach((series)=> { %>
      <div class="col-md-4">
        <!-- Bootstrap column for each action item -->
        <div class="action-item">
          <h5><%= series.series_name %></h5>
          <!-- Series name -->

          <p><%= series.descript %></p>
          <!-- Series description -->

          <p>
            <!-- Link to series details -->
            <a href="/row?seriesid=<%= series.id %>">Browse</a>
          </p>

          <img src="<%= series.img_test %>" alt="<%= series.series_name %>" />
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <main>
    <!-- Main content goes here -->
  </main>

  <%- include("partials/footer.ejs") %>
</div>
