<%- include("partials/header.ejs") %>

<style>
  .action-item {
    background-color: #96cc6a;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
  }

  .action-item:hover {
    background-color: #cde6b8;
  }
</style>

<main>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Collections</h1>
    <h2>You can rate, comment, or like this member's collections.</h2>

    <div class="container">
      <div class="row">
        <div class="card-body text-center">
          <a href="/views/allusers" class="btn btn-primary back-to-cards-button"
            >Back to Members</a
          >
        </div>
      </div>
    </div>
    <!-- Grey separation line -->
    <hr class="my-4" />

    <div class="container">
      <div class="row">
        <!-- Loop through all of the collections -->
        <% collections.forEach((collection) => { %>
        <div class="col-md-4">
          <!-- Bootstrap column for each action item -->
          <div class="card mb-3">
            <div class="card-body">
              <!-- Collection name -->
              <h4><%= collection.collection_name %></h4>

              <!-- Collection description -->
              <p><%= collection.collection_description %></p>

              <!-- Button group for view and delete buttons -->
              <a
                href="/views/collectiondetails/<%= collection.collection_id %>"
                class="btn btn-primary"
                >View Collection</a
              >

              <!-- add the ratings here-->
              <div class="container" id="ratingcontainer">
                <div class="rating-wrap">
                  <h2>Rating:</h2>
                  <div class="center">
                    <fieldset
                      class="rating"
                      data-collection-id="<%= collection.collection_id %>"
                    >
                      <% for (let i = 5; i >= 1; i--) { %>
                      <input
                        type="radio"
                        id="star<%= collection.collection_id %><%= i %>"
                        name="rating<%= collection.collection_id %>"
                        value="<%= i %>"
                        onclick="saveRating('<%= collection.collection_id %>', <%= i %>)"
                      />
                      <label
                        for="star<%= collection.collection_id %><%= i %>"
                        class="full"
                      ></label>
                      <% } %>
                    </fieldset>
                  </div>
                  <h4 id="rating-value<%= collection.collection_id %>"></h4>
                </div>
              </div>

              <!-- DEBUGGING - display collection.user_id and collection.collection_id for debugging -->
              <%- console.log("User ID:", userId, "Collection ID:",
              collection.collection_id) %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let ratings = document.querySelectorAll(".rating");
    ratings.forEach((rating) => {
      let collectionId = rating.dataset.collectionId;
      let storedRating = localStorage.getItem(`rating${collectionId}`);
      if (storedRating) {
        let selectedStar = rating.querySelector(
          `#star${collectionId}${storedRating}`
        );
        if (selectedStar) {
          selectedStar.checked = true;
          updateRating(collectionId, storedRating);
        }
      }
    });
  });

  function saveRating(collectionId, ratingValue) {
    localStorage.setItem(`rating${collectionId}`, ratingValue);
    updateRating(collectionId, ratingValue);
  }

  function updateRating(collectionId, ratingValue) {
    let ratingValueElement = document.querySelector(
      `#rating-value${collectionId}`
    );
    if (ratingValueElement) {
      ratingValueElement.innerHTML = ratingValue + " out of 5";
    }
  }
</script>
