<%- include("partials/header.ejs") %>

<style>
  

 

  

  /* Modal styles */
  .modal-dialog {
    max-width: 800px; 
  }
</style>

<main>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Members</h1>
  <br />

  <% if (userLoggedIn) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/views/dashboard" class="btn btn-primary back-to-cards-button"
          >Dashboard</a
        >
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <% } else { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/" class="btn btn-primary back-to-cards-button">Home</a>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <% } %>

  <div class="container">
    <div class="row">
      <!-- Loop through all of the members -->
      <% rowdata.forEach(user => { %>
      <div class="col-md-4">
        
        <div class="action-item" id ="my-members">
          <!-- User image -->
          <img src="<%= user.user_image %>" alt="<%= user.user_display_name %>" />

          <!-- User display name -->
          <h4><%= user.user_display_name %></h4>

          <!-- View Collections button -->
          <a href="/views/alluserscollections/<%= user.user_id %>" class="btn btn-primary">View Collections</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

 
    <!-- Mainh content goes here -->
  </main>

  <%- include("partials/footer.ejs") %>
</div>
