<%- include("partials/header.ejs") %>

<style>
  .card-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .card-image {
    max-width: 100%;
    height: auto;
  }

  .card-details {
    margin-right: 50px;
  }

  .card-details h2 {
    margin-bottom: 20px;
  }

  .card-details p {
    margin-bottom: 10px;
  }

  .back-to-cards-button {
    margin-top: 20px;
  }
</style>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Card Details</h1>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a
          href="/views/allcards/filter"
          class="btn btn-primary back-to-cards-button"
          >Back to Cards</a
        >
        <% if (userLoggedIn) { %>
        <a href="/views/dashboard" class="btn btn-primary back-to-cards-button"
          >Go to Dashboard</a
        >
      </div>
    </div>
  </div>

  <% } %>

  <main>
    <div class="container card-details-container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <!-- Card Details -->
          <div class="card-details">
            <h2><%= card.card_name %></h2>
            <p>HP <%= card.hit_points_number%></p>
            <hr />
            <!-- Horizontal line for separation -->
            <p>
              <h4><img src="<%= card.attack_1_img_1 %>" alt="" class="card-image" />
              <img src="<%= card.attack_1_img_2 %>" alt="" class="card-image" />
              <img src="<%= card.attack_1_img_3 %>" alt="" class="card-image" />
              <img src="<%= card.attack_1_img_4 %>" alt="" class="card-image" />
             <%= card.attack_1 %> <%= card.attack_1_number %></h4> 
              <p><%= card.attack_1_desc %></p>
            </p>
            <hr />
            <!-- Horizontal line for separation -->

            <% if (card.attack_2) { %>
            <p><h4>
              <img src="<%= card.attack_2_img_1 %>" alt="" class="card-image" />
              <img src="<%= card.attack_2_img_2 %>" alt="" class="card-image" />
              <img src="<%= card.attack_2_img_3 %>" alt="" class="card-image" />
              <img src="<%= card.attack_2_img_4 %>" alt="" class="card-image" />
              <%= card.attack_2 %> <%= card.attack_2_number %></h4>
              <p><%= card.attack_2_desc %></p>
            </p>
            <% } %>
            <hr />
            <!-- Horizontal line for separation -->
            <p>
              Weakness:
              <img
                src="<%= card.weakness_img %>"
                alt=""
                class="weakness-image"
              />

              x<%= card.weakness_number %>
            </p>
            <p>
              Resistance:
              <img
                src="<%= card.resistance_img %>"
                alt=""
                class="resistance-image"
              />

              <%= card.resistance_number%>
            </p>

            <p>Condition: <%= card.card_condition_type %></p>
            <p>Rarity: <%= card.rarity_type %></p>
            <p>Expansion: <%= card.expansion_name %></p>
            <p>Card Number: <%= card.card_number_number %></p>
            <p>Card Format: <%= card.card_format_type %></p>
            <hr />
            <!-- Horizontal line for separation -->

            <p>
              Illustrator: <%= card.illustrator_first_name %> <%=
              card.illustrator_last_name %>
            </p>
            <p>$<%= card.price_market %></p>
            <% if (userLoggedIn) { %>

            <form
              id="addToWishlistForm"
              action="/views/addtowishlist/<%= card.card_id %>"
              method="POST"
            >
              <button
                id="addToWishlistButton"
                type="submit"
                class="btn btn-info"
              >
                Add to Wishlist
              </button>

              <!-- Hidden input field to store cardId -->
              <input type="hidden" name="cardId" value="<%= card.card_id %>" />
            </form>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <form
                  id="addToCollectionButton"
                  action="/views/addtocollection/<%= card.card_id %>"
                  method="POST"
                >
                  <button class="btn btn-warning" type="submit">
                    Add to Collection
                  </button>
                  <!-- Hidden input field to store cardId -->
                  <input
                    type="hidden"
                    name="cardId"
                    value="<%= card.card_id %>"
                  />
                  <!-- Hidden input field to store collectionId -->
                  <input
                    type="hidden"
                    id="collectionIdInput"
                    name="collectionId"
                  />
                </form>
              </div>
              <select
                class="custom-select"
                id="collectionSelect"
                name="collectionId"
              >
                <option selected disabled>Choose...</option>
                <% collections.forEach(collection => { %>
                <option value="<%= collection.collection_id %>">
                  <%= collection.collection_name %>
                </option>
                <% }); %>
              </select>
            </div>
            <% } %>

            <!-- Add more card details here -->
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <!-- Card Image -->
          <img
            src="<%= card.image_url %>"
            alt="<%= card.card_name %>"
            class="card-image"
          />
        </div>
      </div>
    </div>
  </main>
</div>

<script>
  // 1) log the selected collectionId when the dropdown selection changes
  document
    .getElementById("collectionSelect")
    .addEventListener("change", function () {
      const selectedCollectionId = this.value;
      console.log("Selected collectionId:", selectedCollectionId);
    });

  // Attach click event listener to "Add to Collection" button
  document
    .getElementById("addToCollectionButton")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default form submission
      addToCollection(); // Call function to handle form submission
    });

  // 1) function to handle the form submission when "add to Collection" button is clicked
  function addToCollection() {
    // when the user selects their collection from the dropdown menu, store the collection_id in here
    const collectionId = document.getElementById("collectionSelect").value;

    // set the value of the hidden input field to collectionId
    document.getElementById("collectionIdInput").value = collectionId;

    // Submit the form
    document.getElementById("addToCollectionButton").submit();
  }
</script>

<%- include("partials/footer.ejs") %>
