<%- include("partials/header.ejs") %>

<style>
  .card-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .card-image {
    max-width: 100%;
    height: auto;
  }

  .card-details {
    margin-right: 50px;
  }

  .card-details h2 {
    margin-bottom: 20px;
  }

  .card-details p {
    margin-bottom: 10px;
  }

  .back-to-cards-button {
    margin-top: 20px;
  }
</style>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Collection Details</h1>
  <br />

  <% if (userLoggedIn) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/views/dashboard" class="btn btn-primary back-to-cards-button"
          >Back to Dashboard</a
        >
      </div>
    </div>
  </div>

  <% } %>

  <main>
    <% if (userLoggedIn) { %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a
            href="/views/usercollection"
            class="btn btn-primary back-to-cards-button"
            >Back to Your Collections</a
          >
        </div>
      </div>
    </div>
    <% } %>

    <!-- Link to add comment -->
    <% if (userLoggedIn) { %>
    <a href="/views/addcomment/<%= collectionId %>" class="btn btn-primary"
      >Add Comment</a
    >
    <% } %>

    <!-- Button to navigate to comments page -->
    <a href="/views/comments/<%= collectionId %>" class="btn btn-info">
      View Comments
    </a>

    <!-- Grey separation line -->
    <hr class="my-4" />

    <!-- Display card details -->
    <div class="container">
      <div class="row">
        <% if (cards.length === 0) { %>
        <div class="col-md-12 text-center">
          <p></p>
          <p>This collection is empty.</p>
        </div>
        <% } else { %> <% cards.forEach((card) => { %>
        <div class="col-md-6 card-details-container">
          <div class="card-details">
            <h2><%= card.card_name %></h2>
            <img
              src="<%= card.image_url %>"
              alt="<%= card.card_name %>"
              class="card-image"
            />

            <!-- Button container for two buttons -->
            <div class="button-container">
              <!-- View details button -->
              <button type="button" class="btn btn-primary">
                View Details
              </button>

              <!-- Delete from collection button -->
              <% if (userLoggedIn && card.user_id === loggedInUserId) { %>
              <button
                type="button"
                class="btn btn-danger"
                onclick="deleteFromCollection('<%= card.collection_card_id %>')"
              >
                Delete from Collection
              </button>
              <% } %>
            </div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </main>
</div>

<script>
  function deleteFromCollection(collectionCardId) {
    if (
      confirm("Are you sure you want to delete this card from the collection?")
    ) {
      // Make an AJAX request to delete the card from the collection
      fetch(`/views/deletefromcollection/${collectionCardId}`, {
        method: "DELETE",
      })
        .then((response) => {
          if (response.ok) {
            // Reload the page to reflect the changes
            location.reload();
          } else {
            throw new Error("Failed to delete card from collection");
          }
        })
        .catch((error) => {
          console.error(error);
          alert(
            "An error occurred while deleting the card from the collection"
          );
        });
    }
  }
</script>

<%- include("partials/footer.ejs") %>
