<%- include("partials/header.ejs") %>

<style>
  .action-item {
    background-color: #f6ea9a; /* Grey background */
    border: 1px solid #ced4da; /* Border outline */
    padding: 10px;
    margin-bottom: 10px;
    color: black;
  }

  .action-item:hover {
    background-color: #e3c416; /* Light grey on hover */
  }
</style>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Dashboard</h1>
  <h2>Welcome back, <%= userData.user_display_name %>!</h2>
  <div>
    <img
      class="user-image"
      src="<%= userData.user_image %>"
      alt="<%= userData.user_display_name %>"
    />

    <div class="row">
      <h4><%= userData.user_first_name %> <%= userData.user_last_name %></h4>
      <h4><%= userData.user_email %></h4>
    </div>

    <div class="row">
      <div class="col text-center">
        <hr />
        <!-- Horizontal line for separation -->

        <div class="container">
          <!-- Nested container for action items -->
          <div class="row">
            <!-- Row to hold action items -->
            <div class="col-md-3">
              <!-- Bootstrap column for each action item -->
              <div class="action-item">
                <h5>View Collections</h5>
                <a href="usercollection">Go</a>
              </div>
            </div>
            <div class="col-md-3">
              <!-- Bootstrap column for each action item -->
              <div class="action-item">
                <h5>Search Directory</h5>
                <a href="allcards/filter">Go</a>
              </div>
            </div>
            <div class="col-md-3">
              <!-- Bootstrap column for each action item -->
              <div class="action-item">
                <h5>Create a blog</h5>
                <a href="#">Go</a>
              </div>
            </div>
            <div class="col-md-3">
              <!-- Bootstrap column for each action item -->
              <div class="action-item">
                <h5>Account Details</h5>
                <a href="/views/account">Go</a>
              </div>
            </div>
            <div class="col-md-3">
              <!-- Bootstrap column for each action item -->
              <div class="action-item">
                <h5>View Wishlist</h5>
                <a href="/views/wishlist">Go</a>
              </div>
            </div>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>

  <main>
    <!-- Main content goes here -->
  </main>

  <%- include("partials/footer.ejs") %>
</div>
