<%- include("partials/header.ejs") %>

<style>
  .action-item {
    background-color: #f6ea9a; /* Grey background */
    border: 1px solid #ced4da; /* Border outline */
    padding: 10px;
    margin-bottom: 20px;
    color: black;
  }

  .action-item:hover {
    background-color: #e3c416; /* Light grey on hover */
    transform: scale(1.1); /* Enlarge the card on hover */
  }

  .action-item img {
    max-width: 90%; /* Set maximum width for images */
    height: auto; /* Maintain aspect ratio */
  }

  /* Modal styles */
  .modal-dialog {
    max-width: 800px; /* Adjust maximum width as needed */
  }
</style>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Members</h1>
  <br />

  <% if (userLoggedIn) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/views/dashboard" class="btn btn-primary back-to-cards-button"
          >Dashboard</a
        >
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <% } else { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/" class="btn btn-primary back-to-cards-button">Home</a>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <% } %>

  <div class="container">
    <div class="row">
      <!-- Loop through all of the cards -->
      <% rowdata.forEach((card)=> { %>
      <div class="col-md-4">
        <!-- Bootstrap column for each action item -->
        <div
          class="action-item"
          onclick="window.location='/views/carddetailspage/<%= card.card_id %>'"
        >
          <!-- card name -->
          <h4><%= card.card_name %></h4>

          <img src="<%= card.image_url %>" alt="<%= card.card_name %>" />

          <p>Price: $<%= card.price_market %></p>

          <!-- Button to open modal -->
          <button type="button" class="btn btn-light">Add to Wishlist</button>
          <button type="button" class="btn btn-light">Add to Collection</button>

          <!-- Add to Wishlist button -->
          <button type="button" class="btn btn-primary">View Details</button>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <main>
    <!-- Mainh content goes here -->
  </main>

  <%- include("partials/footer.ejs") %>
</div>
